/* .div11{
    width: 300px;
    height: 150PX;
    background-color: blanchedalmond;
    column-count: 3;
    bottom:calc(50% - 150px);
    right: calc(50% - 150px);
    position: absolute;
    padding: 2px;
} */
.div1{
    width: 60px;
    height: 60PX;
    background-color: rgb(8, 8, 8);
    border-radius: 30px;
    bottom:calc(50% - 150px);
    right: calc(50% - 150px);
    position: absolute;
}
.div2{
    width: 60px;
    height: 60PX;
    background-color: rgb(8, 8, 8);
    border-radius: 30px;
    bottom:calc(50% - 150px);
    right: calc(50% - 150px);
    position: absolute;
}
.div3{
    width: 60px;
    height: 60PX;
    background-color: rgb(8, 8, 8);
    border-radius: 30px;
    bottom:calc(50% - 150px);
    right: calc(50% - 150px);
    position: absolute;
}
/* .div12{
    width: 300px;
    height: 100PX;
    background-color: blanchedalmond;
    column-count: 3;
} */
.div4{
    width: 60px;
    height: 60PX;
    background-color: rgb(8, 8, 8);
    border-radius: 30px;
    bottom:calc(50% - 150px);
    right: calc(50% - 150px);
    position: absolute;
}
.div5{
    width: 60px;
    height: 60PX;
    background-color: rgb(8, 8, 8);
    border-radius: 30px;
    bottom:calc(50% - 150px);
    right: calc(50% - 150px);
    position: absolute;
}

.div6{
    width: 60px;
    height: 60PX;
    background-color: rgb(8, 8, 8);
    border-radius: 30px;
    bottom:calc(50% - 150px);
    right: calc(50% - 150px);
    position: absolute;
}
